$border-color: #ffffff;

%cards-container-shared {
  padding: 10px;
  border: 1px dashed $border-color;
  border-radius: 10px;
  box-shadow: inset -2px 1px 20px 0px rgba(0, 0, 0, 0.3);
}

.main-cards-wrapper {
  height: 100%;
  padding: 40px 0;
  overflow: auto;
  background-size: 200px;
  background: url("/assets/img/bg-jive-logo.png") no-repeat center center;
  .container-fluid {
    height: 100%;
  }
  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .all-cards-container {
      @extend %cards-container-shared;
      .cards-wrapper {
        display: grid;
        max-width: 100%;
        .one-card-wrapper {
          cursor: pointer;
          transition: transform .2s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
          z-index: 1;
          &:hover {
            transform: translate(-20px, 25px);
          }
          &.picked {
            opacity: 0;
            visibility: hidden;
          }
        }
      }
    }
    .result-container {
      display: flex;
      margin-bottom: 60px;
      .picked-cards-container {
        @extend %cards-container-shared;
        min-height: 162px;
        flex-grow: 1;
        .cards-wrapper {
          display: grid;
          .one-card-wrapper {
            transition: transform .2s ease-in-out;
            &:hover {
              transform: translate(-20px, 0);
            }
          }
        }
      }
      .score-wrapper {
        @extend %cards-container-shared;
        padding: 10px 25px;
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        .score-container {
          @media (min-width: 769px) {
            min-width: 200px;
          }
          text-align: center;
          color: #ffffff;
          h1 {
            font-size: 3.5rem;
          }
        }
      }
    }
    .buttons-container {
      margin: 20px 10px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      .btn[disabled] {
        cursor: not-allowed;
      }
      .btn-light {
        color: inherit;
      }
      .btn-raised {
        color: #c4d600;
      }
    }
  }
  .matching-cards-group-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.3);
    .matching-cards-wrapper {
      display: inline-block;
      .matching-cards-container {
        margin: 5px 8px 0 0;
        grid-template-columns: repeat(3, 8px);
        display: grid;
        box-shadow: 0 0 0 1px white;
        border-radius: 2px;
        padding: 2px 20px 2px 2px;
      }
    }
  }
}
