<div class="main-cards-wrapper">
  <div class="container-fluid">
    <div class="cards-container">
      <div class="all-cards-container" id="all-cards">
        <div class="cards-wrapper" #allCardsWrapper>
          <div class="one-card-wrapper animated" *ngFor="let card of cards; let i = index" (click)="pickCard(i)"
               [ngClass]="{'picked fadeOutDown':card.isPicked}">
            <one-card [card]="card" [isAlwaysFlipped]="true"></one-card>
          </div>
        </div>
      </div>

      <div class="buttons-container">
        <button class="btn btn-lg btn-outline-light" (click)="pickCard()" id="pick-random-card-button"
                [disabled]="pickedCards.length === cards.length">
          Pick random card
        </button>
        <button class="btn btn-lg btn-raised btn-light " (click)="shuffleCards()" id="shuffle-cards-button">
          Shuffle Cards
        </button>
      </div>
      <div class="result-container" id="second-complex-thing">
        <div class="picked-cards-container">
          <div class="cards-wrapper" #pickedCardsWrapper>
            <div class="one-card-wrapper animated fadeInRight fast" *ngFor="let card of pickedCards">
              <one-card [card]="card" [cardClass]="'card-sm'"></one-card>
            </div>
          </div>
        </div>
        <div class="score-container">
          <h5 class="title">Your score</h5>
          <h1>{{score}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
