.one-card-wrapper {
  width: 200px;
  height: 280px;
  background-size: contain;
  box-shadow: -5px 0 8px 0 rgba(0, 0, 0, .18);
  border-radius: 10px;
  transition: box-shadow .1s ease-in-out;
  &.card-sm {
    width: 100px;
    height: 140px;
  }
  &.card-xs {
    width: 25px;
    height: 35px;
  }
  &:hover {
    box-shadow: -5px 0 10px 0 rgba(0, 0, 0, .38);
  }
  &:not(.picked) {
    background-image: url("/assets/img/card-back.png");
  }
}
